/*
    timelpatel.com
    _varables.scss
*/


/* typography */
$font-stack-title: heavydock11, 'Arial Black';
$font-stack-normal: helveticaneue, helvetica, arial;
$font-stack-light: helveticaneueultralight, 'helveticaneueultralight';

/* font */
$font-primary-color: #3c3c3c;
$font-primary-link: #09c;
$font-primary-hover: #cc3300;
$font-secondary-color: #6e7f80;
$font-body-color: #8c8c8c;
$font-white: #fff;

/* background */
$background-body: #efefef;
$background-container-primary: #fafafa;
$background-container-secondary: #fefefe;

/* button */
$button-border-color: #6e7f80;
$button-hover-color: $button-border-color;
$button-primary-color: #3c3c3c;

/* table  */
$table-background-header: #fafafa;
$table-border: 1px solid #efefef;
