/*
    timelpatel.com
    _varables.scss
*/

$font-stack-normal: helveticaneue, helvetica, arial;
$font-stack-light: helveticaneueultralight, 'helveticaneueultralight';
$font-primary-color: #3c3c3c;
$font-primary-link: #09c;
$font-primary-hover: #cc3300;
$background-light: #f8f8f8;
$background-white: #fff;
$background-body: #efefef;
$border: #e8e8e8;