// background
$background-body: #efefef;
$background-code: #efefef;
$background-container-primary: #fafafa;
$background-container-secondary: #fefefe;
$background-footer: #424c4c;
$background-header: #6e7f80;

// bcd
$color-mustard: #ffc300;

// button
$button-border-color: #6e7f80;
$button-hover-color: $button-border-color;
$button-primary-color: #3c3c3c;

// colors
$color-black: #000;
$color-cta: #09c;
$color-white: #fff;

// font
$font-color-body: #8c8c8c;
$font-color-code: #8a2be2;
$font-color-loud: #555;
$font-color-link: $color-cta;
$font-color-link-hover: #cc3300;
$font-color-secondary-color: #6e7f80;

// typography
$font-stack-title: heavydock11, 'Arial Black';
$font-stack-normal: helveticaneue, helvetica, arial;
$font-stack-light: helveticaneueultralight, 'helveticaneueultralight';