@import '_reset';
@import '_variables';
@import '_mixins';
@import 'grid';
@import 'font';

/* blocks */
@import '../src/app/component/block/button/primary/style';
@import '../src/app/component/block/button/social/style';
@import '../src/app/component/block/container/billboard/style';
@import '../src/app/component/block/card/content/style';
@import '../src/app/component/block/container/chic/style';
@import '../src/app/component/block/container/footer/style';
@import '../src/app/component/block/container/header/style';
@import '../src/app/component/block/container/section/style';
@import '../src/app/component/block/imagery/hero/style';
@import '../src/app/component/block/imagery/logos/style';
@import '../src/app/component/block/navigation/header-link/style';
@import '../src/app/component/block/typography/body-copy/style';
@import '../src/app/component/block/typography/bullet-list/style';
@import '../src/app/component/block/typography/code/style';
@import '../src/app/component/block/typography/logo/style';
@import '../src/app/component/block/typography/loud/style';
@import '../src/app/component/block/typography/loud/style';
@import '../src/app/component/block/typography/page-title/style';
@import '../src/app/component/block/typography/section-title/style';
@import '../src/app/component/block/typography/sub-heading/style';
@import '../src/app/component/block/typography/sub-loud/style';
@import '../src/app/component/block/typography/subtle-title/style';

/* patterns */
@import '../src/app/component/module/collection/info-tile/style';
@import '../src/app/component/module/cta/promote';
@import '../src/app/component/module/header-footer/header';


/* global */
body {
    background: $background-body;
    color: $font-color-body;
    font: 100% $font-stack-normal;
    margin-top: 80px;
    min-width: 375px;
}




// MOVE
.bcd-frame {
    background: #fff;
    margin: 20px 0;
    max-width: 600px;
    padding: 20px;

    &.shadow {
        box-shadow: 0px 0px 25px -15px;
    }
}

.example-error {
    color: #ff0000
}
.example-link {
    color: #0000ff;
}
.example-primary,
.example-success {
    color: #009900;
}
.example-secondary,
.example-warning {
    color: #ff9900;
}
