/*
    timelpatel.com
    Base SASS
*/

@import '_reset';
@import '_variables';
@import '_mixins';
@import 'grid';
@import 'fonts';
@import 'header';
@import 'about-page';



/* global */
body {
    background: $background-body;
    color: $font-primary-color;
    font: 100% $font-stack-normal;
    margin-top: 80px;
    min-width: 480px;
}



/* Smartphones (portrait and landscape) ----------- */
/*@media screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
body {background:blue;}
}*/
