/*
    timelpatel.com
    Base SASS
*/

@import '_reset';
@import '_variables';
@import '_mixins';
@import 'grid';
@import 'fonts';
@import 'table';
@import './components/about-page';
@import './components/composition-page';
@import './components/footer';
@import './components/header';
@import './components/social';
@import './components/work-page';



/* global */
body {
    background: $background-body;
    color: $font-primary-color;
    font: 100% $font-stack-light;
    margin-top: 80px;
    min-width: 375px;
}

/* buttons */
a.button {
    border: 1px solid $button-primary-color;
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover {
        background-color: $button-primary-color;

        p {
            color: $font-white;
        }
    }

    p {
        margin: 0;
    }
}
