a.button {
    border: 1px solid $button-border-color;
    color: $button-primary-color;
    display: inline-block;
    font-family: $font-stack-light;
    margin-bottom: 20px;
    padding: 10px;
    transition: all 0.3s ease;

    &:hover {
        background-color: $button-hover-color;

        p {
            color: $font-white;
        }
    }

    p {
        margin: 0;
    }
}
