@include font-face(fontello, '/assets/font/fontello');
@include font-face(heavydock11, '/assets/font/heavy_dock11');
@include font-face(helveticaneueultralight, '/assets/font/helveticaneueultralight');



a:link, a:visited {
    color: $font-color-link;
    text-decoration: none;
}

a:active, a:hover {
    color: $font-color-link-hover;
}

.hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
