table.table--goodbad {
    margin-bottom: 20px;
    width: 100%;

    thead {
        background: $table-background-header;

        .bad {
            color: red;
        }
        .good {
            color: green;
        }
    }

    td {
        border: $table-border;
        padding: 6px 12px;
    }
}
