.social__icon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 55%;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-flex;
  height: 40px;
  margin-right: 20px;
  width: 40px;
   // hide text
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;

  &:nth-child(1) {
    background-image: url('/asset/img/linkedin.svg');
  }
  
  // .twitter {
  //   background-image: url('/assets/img/twitter.svg');
  // }
  
  &:nth-child(2) {
    background-image: url('/asset/img/instagram.svg');
  }

  &:hover {
    border-color: #f1c40f;
  }
}
