.container__header {

    .typography__logo {
        left:40px;
        position: absolute;
        top: 30px;
    }

    .header__menu {
        position: absolute;
        right: 40px;
        top: 32px;
    }

}
