.container__header {
    background: #6e7f80;
    color: #fff;
    height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header__h1 {
    left:40px;
    position: absolute;
    top: 30px;

    a {
        color: $font-white;
    }
}

.header__menu {
    position: absolute;
    right: 40px;
    top: 32px;

    li {
        display: inline;
        font-family: $font-stack-light;
        font-size: 16px;
        letter-spacing: 2px;
        margin-left: 40px;

        a {
            color: #fff;

            &:hover {
                border-bottom: 1px solid #fff;
                padding-bottom: 6px;
            }
        }
    }
}



/* Smartphones (portrait) ----------- */
@media screen and (max-width : 415px) {

    .header__h1 {
        top: 32px;
    }

    .header__menu li {
        font-size: 13px;
        margin-left: 20px;
    }

}
