.social__icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 1px solid #000;
    border-radius: 50%;
    height: 40px;
    margin-right: 20px;
    width: 40px;

    &.linkedin {
        background-image: url('/assets/img/linkedin.svg');
    }

    &.twitter {
        background-image: url('/assets/img/twitter.svg');

        &:hover {

        }
    }

    &.instagram {
        background-image: url('/assets/img/instagram.svg');

        &:hover {

        }
    }
}
