a.button__primary {
    background: #aa863a;
    // border: 1px solid $button-border-color;
    color: $font-white;
    display: inline-block;
    font-family: $font-stack-normal;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 12px;
    transition: all 0.3s ease;

    &:hover {
        background-color: $button-hover-color;
    }
}
