.work__project {
    h4 {
        margin-bottom: 40px;
    }

    .desktop-frame {
        text-align: center;

        img {
            margin-bottom: 20px;

            &.shadow {
                box-shadow: 0px 0px 30px -10px;
            }
        }
    }
}


/* Smartphones (portrait) ----------- */
@media screen and (max-width : 600px) {

    // .work__logo {
    //     padding-right: 40px;
    // }

    .work__project {

        .desktop-frame {
            text-align: left;
        }

    }

}
