ul.list__bullet {
    list-style: circle inside;
    margin-bottom: 20px;

    li {
        color: $font-color-body;
        font-family: $font-stack-normal;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 18px;
    }

    ul {
        list-style: circle inside;
        margin-left: 20px;
    }
}
